body{
    /* margin: 0; */
    /* padding: 0; */
    background-color: rgb(147, 196, 189);
}


h1 ,h2{
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


button, h2{
    width: 15vw;
    height: 5vh;
}

h2{
    border: darkblue 2px solid;

}

div{
    border: solid darkblue 2px;
    box-sizing: border-box;
    width: 15vw;
    height: 10vh;
    text-align: center;
    font-weight: bolder;
}

 img{
     width: 90%;
     height: 100%;
     cursor: grab;
     /* background-repeat: none; */
     /* background-size: cover; */
     border-radius: 10%;
 }

 td{
     width: 20vw;
     height: 30vh;
 }

 footer{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     margin-top: 5vh;
}
 
     
